    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse color-sidebar">
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
            <a href="/">
              <img src="assets/salida.png" class="img-sidebar" alt="Salir">
            </a>
            <!--Boton del Menu Administrador-->
            <div class="color-tr">
              <br>
              <a routerLink="/admin/registros" class="list-group-item list-group-item-action py-2 ripple color-tr"
                aria-current="true">
                <h2 class="fuenteH2"><span>Menu Admininistrador</span></h2>
              </a>
            </div>
            <!--Lista Registros-->
            <a  routerLink="/admin/admins" class="list-group-item list-group-item-action py-2 ripple color-listado">
              Administradores
            </a>
            <a routerLink="/admin/eventos" class="list-group-item list-group-item-action py-2 ripple color-listado">
              Eventos
            </a>
            <a routerLink="/admin/gerentes" class="list-group-item list-group-item-action py-2 ripple color-listado">
              Gerentes
            </a>
            <a routerLink="/admin/hora-extra" class="list-group-item list-group-item-action py-2 ripple color-listado">
              Horas Extra
            </a>
            <a routerLink="/admin/nominas" class="list-group-item list-group-item-action py-2 ripple color-listado">
                Nominas
            </a>
            <a routerLink="/admin/quejas" class="list-group-item list-group-item-action py-2 ripple color-listado">
                Quejas
            </a>
            <a routerLink="/admin/retardos" class="list-group-item list-group-item-action py-2 ripple color-listado">
                Retardos
            </a>
            <a routerLink="/admin/tareas" class="list-group-item list-group-item-action py-2 ripple color-listado">
                Tareas
            </a>
            <a routerLink="/admin/trabajadores" class="list-group-item list-group-item-action py-2 ripple color-listado">
                Trabajadores
            </a>
            <a routerLink="/admin/vacaciones" class="list-group-item list-group-item-action py-2 ripple color-listado">
                Vacaciones
            </a>
            <a routerLink="/admin/usuarios" class="list-group-item list-group-item-action py-2 ripple color-listado">
              Usuarios
          </a>
          </div>
        </div>
      </nav>
      <!-- Sidebar -->
  
  
  
  
  
  
  