<!--Encabezado principal-->
<section class="intro">
  <div class="bg-image h-100" style="background-color: transparent;">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <br><br>
        <!--Titulo-->
        <h2 style="color: #000;">
          Lista de Incidencias
        </h2>
        <br>
        <br>
        <button style="--clr:#634A97" [routerLink]="'/admin/trabajadores/'+ idTrabajador"><span>Regresar</span><i></i></button>
        <br><br>
      </div>
    </div>
  </div>
</section>
<ng-template #sinEstatus>
  Sin Estatus
</ng-template>
<div class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Tipo</th>
        <th scope="col">Titulo</th>
        <th scope="col">Nombre Trabajador</th>
        <th scope="col">Numero Trabajador</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody class="row_cuerpo" *ngFor="let incidencia of listaIncidencias">
      <tr class="tr_font">
        <td>{{incidencia.id_incidencia}}</td>
        <td>{{incidencia.fecha_incidencia}}</td>
        <td>{{incidencia.tipo_evento}}</td>
        <td>{{incidencia.nombre_incidencia}}</td>
        <td>{{incidencia.trabajadorModel.nombre_trabajador}}</td>
        <td>{{incidencia.trabajadorModel.numero_trabajador}}</td>
        <td style="color: #000;"><a class="btn btnPrimary"
            (click)="generarPDF(incidencia.id_incidencia,incidencia.trabajadorModel.id)">PDF</a></td>
      </tr>
    <tbody>
  </table>
</div>
