<!--Encabezado principal-->
<section class="intro">
    <div class="bg-image h-100" style="background-color: transparent;">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <br><br>
          <!--Titulo-->
          <h2 style="color: #000;">
            Lista de Quejas
          </h2>
          <br>
          <br>
          <mat-form-field class="dateEscoger">
            <input matInput [matDatepicker]="picker" placeholder="Escoge la fecha a buscar" [(ngModel)]="fecha">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker style="color: blueviolet;" #picker></mat-datepicker>
          </mat-form-field>
          &nbsp; &nbsp;
          <button style="--clr:#634A97" (click)="obtenerQuejasDate()"><span>Obtener Lista</span><i></i></button>
          &nbsp; &nbsp;
          <button style="--clr:#946FE3" (click)=" abrirModalQueja(crearQueja)"><span>Crear Queja</span><i></i></button>
          <br><br>
        </div>
      </div>
    </div>
  </section>
  <ng-template #sinEstatus>
    Sin Estatus
  </ng-template>
  <div class="table-wrapper">
    <table class="fl-table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">Tipo</th>
          <th scope="col">Estatus</th>
          <th scope="col">Trabajador</th>
          <th scope="col">Numero Trabajador</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody class="row_cuerpo" *ngFor="let queja of listaQuejas">
        <tr class="tr_font">
          <td>{{queja.id_queja}}</td>
          <td>{{queja.fechaQueja}}</td>
          <td>{{queja.tipo_Queja}}</td>
          <td>{{queja.estatus_queja}}</td>
          <td>{{queja.trabajadorModel.nombre_trabajador}}</td>
          <td>{{queja.trabajadorModel.numero_trabajador}}</td>
          <td style="color: #000;"><a class="btn btnPrimary"
              [routerLink]="'/admin/quejas/'+ queja.id_queja">Detalles</a></td>
        </tr>
      <tbody>
    </table>
  </div>
    <!--Ventana Modal Buscar Orden-->
<ng-template #crearQueja let-modal>
  <div class="modal-header fondo-cabecera">
    <h4 class="modal-title estiloh4">Crear Queja</h4>
    <button class="btn close btnClose" aria-label="close" type="button" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body fondo-modal-buscar">
    <div class="col form_modal">
      <input type="text" [(ngModel)]="quejaNueva.tipo_Queja" class="form-control" name="nombreSurtidor" placeholder="Tipo">
      <br>
      <textarea name="cuerpo" [(ngModel)]="quejaNueva.cuerpo_queja" id="" cols="30" rows="10" placeholder="Cuerpo"></textarea>

      <p>Trabajador</p>
      <select [(ngModel)]="idTrabajador" name="gerente" *ngFor="let trabajador of trabajadores" id="gerente.id">
        <option  value="{{trabajador.id}}">{{trabajador.nombre_trabajador}}</option>
      </select>
    </div>
    <a type="submit" class="btnBuscar" (click)="crearQuejaClick()">Crear</a>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
<!--Cerrar Ventana Modal Buscar Orden-->
  