
@font-face {
    font-family: Raleway-Regular;
    src: url(/assets/fonts/Raleway-Regular.ttf);
  }
  @font-face {
    font-family: Raleway-Bold;
    src: url(/assets/fonts/Raleway-Bold.ttf);
  }
  img {
      width: 100%;
      border-radius: 15px;
      display: block;
  
  }
  .fontImg{
      font-family: 'Raleway-Regular';
      font-size: 18px;
  }
  a {
      color: inherit;
  }

  button {
    position: relative;
    background: #fff;
    color: #634A97;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
  }
  
  button:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
  }
  
  button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #fff;
  }
  
  button span {
    position: relative;
    z-index: 1;
  }
  button i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #fff;
    transition: 0.2s;
  }
  
  button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #fff;
    transition: 0.2s;
  }
  
  button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: #27272c;
    }
    50% {
      box-shadow: 0 0 25px var(--clr);
    }
    100% {
      box-shadow: #27272c;
    }
  }
    button {
      position: relative;
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
      border: none;
      letter-spacing: 0.1rem;
      font-size: 1rem;
      padding: 1rem 3rem;
      transition: 0.2s;
    }
    
    button:hover {
      letter-spacing: 0.2rem;
      padding: 1.1rem 3.1rem;
      background: var(--clr);
      background-color: #FDFDFD;
      color: var(--clr);
      /* box-shadow: 0 0 35px var(--clr); */
      animation: box 3s infinite;
    }
    
    button::before {
      content: "";
      position: absolute;
      inset: 2px;
    }
    
    button span {
      position: relative;
      z-index: 1;
    }
    button i {
      position: absolute;
      inset: 0;
      display: block;
    }
    
    button i::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 2px;
      left: 80%;
      top: -2px;
      border: 2px solid var(--clr);
      transition: 0.2s;
    }
    
    button:hover i::before {
      width: 15px;
      left: 20%;
      animation: move 3s infinite;
    }
    
    button i::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 2px;
      left: 20%;
      bottom: -2px;
      border: 2px solid var(--clr);
      background: #000;
      transition: 0.2s;
    }
    
    button:hover i::after {
      width: 15px;
      left: 80%;
      animation: move 3s infinite;
    }
    
    @keyframes move {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(5px);
      }
      100% {
        transform: translateX(0);
      }
    }
  
  /* 
  
  Eye view
  
  https://i.postimg.cc/9MtT4GZY/view.png' border='0' alt='view */
  
  /*
  =========================
  Font Styling
  =========================
  */
  
  .fuente_h1{
      margin: 20px;
      font-family: 'Raleway-Bold';
      width: 450px;
      height: 80px;
      text-align: center;
      position: relative;
      font-size: 30px;
      color: #000;
      left: -15%;
      --g: 4px;     /* the gap */
      --b: 6px;    /* border thickness*/
      --c: #454A6E; /* the color */
    
      padding: calc(var(--g) + var(--b));
      --_c: #0000 0 25%, var(--c) 0 50%;
      --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
      --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
      background:
        var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
        var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
      background-size: 200% var(--b),var(--b) 200%;
      cursor: pointer;
      transition: .3s;
    }
    .fuente_h1:hover {
      --_p: 75%;
      filter: grayscale(0%);
    }
  
  h2 {
      font: var(--var-small-heading);
      color: var(--var-lightest);
      /* padding on .coin-base */
  }
  
  p {
      font: var(--var-para);
      color: var(--var-soft-blue);
  }
  
  span {
      color: black;
  }
  /* 
  =====================
  Classes
  =====================
  */
  
  /* LAYOUT */
  
  .card-container {
      width: 100%;
      max-width: 400px;
      margin: 2em auto;
      background-color: var(--var-card-dark);
      border-radius: 15px;
      margin-bottom: 1rem;
      padding: 2rem;
      color: black;
  }
  
  div.flex-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  div.coin-base, .time-left, .card-attribute {
      display: flex;
      align-items: center;
      padding: 1em 0;
  }
  
  .card-attribute {
      padding-bottom: 1.5em;
      border-top: 2px solid var(--var-line-dark);
  }
  
  a.hero-image-container {
      position: relative;
      display: block;
  }
  
  
  
  /* Details */
  
  img.eye {
      position: absolute;
      width: 100%;
      max-width: 2em;
      top: 44%;
      left: 43%;
  }
  
  @media (min-width:400px) {
    img.eye {
      max-width: 3em;
  }
  }
  
  
  
  .small-image {
      width: 1.2em;
      margin-right: .5em;
  }
  
  .small-avatar {
      width: 2em;
      border-radius: 200px;
      outline: 2px solid black;
      margin-right: 1.4em;
  }
  
  div.attribution {
      margin: 0 auto;
      width: 100%;
      font: var(--var-para);
      text-align: center;
      padding: 1.5em 0 4em 0;
      color: var(--var-line-dark);
  }
  .attribution a {
      color: var(--var-soft-blue);
  }
  
  @media (min-width:600px) {
      body {
          font-size: 18px;
      }
  }
  .buttons {
      display: flex;
      width: 380px;
      position: relative;
      left: -45%;
      gap: 10px;
      --b: 5px;   /* the border thickness */
      --h: 1.8em; /* the height */
    }
    
    .buttons button {
      --_c: #2C3786;
      flex: calc(1.25 + var(--_s,0));
      min-width: 0;
      font-size: 20px;
      font-weight: bold;
      height: var(--h);
      cursor: pointer;
      position: relative;
      color: var(--_c);
      font-family: 'Raleway-Regular';
      border: var(--b) solid var(--_c);
      background: 
        conic-gradient(at calc(100% - 1.3*var(--b)) 0,var(--_c) 209deg, #0000 211deg) 
        border-box;
      clip-path: polygon(0 0,100% 0,calc(100% - 0.577*var(--h)) 100%,0 100%);
      padding: 10 calc(0.288*var(--h)) 0 0;
      margin: 0 calc(-0.288*var(--h)) 0 0;
      box-sizing: border-box;
      transition: flex .4s;
      left: 40%;
    }
    .buttons button + button {
      --_c: #454A6E;
      flex: calc(.75 + var(--_s,0));
      background: 
        conic-gradient(from -90deg at calc(1.3*var(--b)) 100%,var(--_c) 119deg, #0000 121deg) 
        border-box;
      clip-path: polygon(calc(0.577*var(--h)) 0,100% 0,calc(100% - 0.407*var(--h)) 100%,0 100%);
      margin: 0 0 0 calc(-0.288*var(--h));
      padding: 0 0 0 calc(0.288*var(--h));
    }
    .buttons button + button+ button{
      --_c: #3D4CBA;
  
      flex: calc(.75 + var(--_s,0));
      background: 
        conic-gradient(from -90deg at calc(1.3*var(--b)) 100%,var(--_c) 119deg, #0000 121deg) 
        border-box;
      clip-path: polygon(calc(0.577*var(--h)) 0,100% 0,100% 100%,0 100%);
      margin: 0 0 0 calc(-0.288*var(--h));
      padding: 0 0 0 calc(0.288*var(--h));
    }
    .buttons button:focus-visible {
      outline-offset: calc(-2*var(--b));
      outline: calc(var(--b)/2) solid #000;
      background: none;
      clip-path: none;
      margin: 10px;
      padding: 10px;
    }
    .buttons button:focus-visible + button {
      background: none;
      clip-path: none;
      margin: 0;
      padding: 0;
    }
    .buttons button:has(+ button:focus-visible) {
      background: none;
      clip-path: none;
      margin: 0;
      padding: 0;
    }
    button:hover,
    button:active:not(:focus-visible) {
      --_s: .75;
      color: #FBFBFA;
    }
    button:active {
      box-shadow: inset 0 0 0 100vmax var(--_c);
      color: #fff;
    }
    
    .estiloh4{
      font-family: 'Raleway-Bold';
      color: #000;
      font-size: 25px;
      position: absolute;
      left: 32%;
    }
    .btnClose{
      position: relative;
      bottom:.3px
    }
    .btnClose:hover{
      color: red;
    }
    .fondo-modal-buscar{
      height: 45vh;
      background:url(/assets/bg-pattern.png),#3D4CBA;
      font-family: 'Raleway-Regular';
    }
    .form_modal{
      padding: 15px;
      color: #fff;
      font-family: 'Raleway-Regular';
    }
    .form_modal input{
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      width: 200px;
      padding: 5px;
      color: #fff;
    }
    .form_modal label{
      font-size: 17px;
    }
    .btnBuscar{
      background:url(/assets/bg-pattern.png),#3D4CBA;
      border-radius: 10px;
      text-decoration: none;
      height: 30px;
      width: 150px;
      margin: 10px;
      color: #fff;
      text-align: center;
      font-family: 'Raleway-Regular';
      font-size: 20px;
      box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    }
    .btnBuscar:hover{
      background-color: transparent;
      border-radius: 5px;
      text-decoration: none;
      height: 30px;
      width: 150px;
      margin: 10px;
      color: #3D4CBA;
      text-align: center;
      font-family: 'Raleway-Regular';
      font-size: 20px;
      box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    }