    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse color-sidebar">
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
            <a href="/">
              <img src="assets/salida.png" class="img-sidebar" alt="Salir">
            </a>
            <!--Boton del Menu Administrador-->
            <div class="color-tr">
              <br>
              <a class="list-group-item list-group-item-action py-2 ripple color-tr"
                aria-current="true">
                <h2 class="fuenteH2"><span>Menu Trabajador</span></h2>
              </a>
            </div>
            <!--Lista Registros-->
            <a routerLink="/worker/eventos" class="list-group-item list-group-item-action py-2 ripple color-listado">
              Eventos
            </a>
            <a routerLink="/worker/hora-extra" class="list-group-item list-group-item-action py-2 ripple color-listado">
              Horas Extra
            </a>
            <a routerLink="/worker/incidencias" class="list-group-item list-group-item-action py-2 ripple color-listado">
              Incidencias
            </a>
            <a routerLink="/worker/nominas" class="list-group-item list-group-item-action py-2 ripple color-listado">
              Nominas
            </a>
            <a routerLink="/worker/quejas" class="list-group-item list-group-item-action py-2 ripple color-listado">
              Quejas
            </a>
            <a routerLink="/worker/retardos" class="list-group-item list-group-item-action py-2 ripple color-listado">
              Retardos
            </a>
            <a routerLink="/worker/tareas" class="list-group-item list-group-item-action py-2 ripple color-listado">
              Tareas
            </a>
            <a routerLink="/worker/vacaciones" class="list-group-item list-group-item-action py-2 ripple color-listado">
              Vacaciones
            </a>
          </div>
        </div>
      </nav>
      <!-- Sidebar -->
  